{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>صفحه اصلی</title>
    {% include 'shared/_HeaderRefrence.html' %}
</head>
<body>

    {% render_partial 'header' %}
    {% include 'shared/Navbar_active_ele.html' %}
    {% block content %}{% endblock %}
	{% render_partial 'footer' %}
    {% include 'shared/_FooterRefrence.html' %}
</body>
</html>